span.a{
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid green;
    background-color: black;
    color: green;
}

span.b{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid green;
    background-color: black;
    color: green;
}

span.c{
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid green;
    background-color: black;
    color: green;
}