body {
    background-color: black;
    color: green;
}

.b1 {
    background-color: green;
    color: black;
}

.txt1 {
    border: 3px solid greenyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pxl {
    border: 4px dotted purple;
    font-style: oblique;
}

